- shell:
    cmd: which fish
  register: fish
  changed_when: no

- name: Clone .tmux
  git:
    repo: https://github.com/gpakosz/.tmux.git
    dest: ~/.tmux

- name: Clone oh-my-zsh
  git:
    repo: https://github.com/ohmyzsh/ohmyzsh.git
    dest: ~/.oh-my-zsh

- name: Clone oh-my-fish
  git:
    repo: https://github.com/oh-my-fish/oh-my-fish.git
    dest: ~/.oh-my-fish

- name: Install oh-my-fish
  shell:
    chdir: ~/.oh-my-fish
    cmd: bin/install --offline --noninteractive -y
  args:
    executable: "{{ fish.stdout }}"
  changed_when: no

- name: Install omf plugins
  shell:
    cmd: omf install z fzf bass
  args:
    executable: "{{ fish.stdout }}"
  changed_when: no

- name: Make sure ~/.config folder is there
  file:
    state: directory
    path: ~/.config

- name: Make sure ~/.config/nvim folder is there
  file:
    state: directory
    path: ~/.config/nvim

- name: Link dotfiles into place
  file:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
    force: yes
  with_items: "{{ templates }}"

- name: Add fish into standard shell
  become: yes
  lineinfile:
    path: /etc/shells
    line: /usr/local/bin/fish
    regexp: '\/usr\/local\/bin\/fish'
    state: present

- name: Change shell
  become: yes
  user:
    name: "{{ ansible_user }}"
    shell: /usr/local/bin/fish

- name: Link .tmux.conf
  file:
    src: ~/.tmux/.tmux.conf
    path: ~/.tmux.conf
    state: link

- name: Rustup init
  shell:
    cmd: rustup-init -qy --profile default
  changed_when: no

- name: VSCode PressAndHold
  shell:
    cmd: defaults write -g ApplePressAndHoldEnabled -bool false
  changed_when: no
