- name: Template .profile into place
  template:
    src: "{{ playbook_dir }}/stuff/dotfiles/.profile.j2"
    dest: ~/.profile

- name: Template config.fish into place
  template:
    src: "{{ playbook_dir }}/stuff/dotfiles/config.fish.j2"
    dest: ~/.config/fish/config.fish

- name: Template .tmux.conf.local into place
  template:
    src: "{{ playbook_dir }}/stuff/dotfiles/.tmux.conf.local.j2"
    dest: ~/.tmux.conf.local

- name: Add fish into standard shell
  lineinfile:
    path: /etc/shells
    line: /usr/local/bin/fish
    regexp: '\/usr\/local\/bin\/fish'
    state: present

- name: Change shell
  user:
    name: "{{ ansible_user }}"
    shell: /usr/local/bin/fish

- name: Clone oh-my-zsh
  git:
    repo: https://github.com/ohmyzsh/ohmyzsh.git
    dest: ~/.oh-my-zsh

- name: Clone oh-my-fish
  git:
    repo: https://github.com/oh-my-fish/oh-my-fish.git
    dest: ~/.oh-my-fish

- name: Template .zshrc into place
  template:
    src: "{{ playbook_dir }}/stuff/dotfiles/.zshrc.j2"
    dest: ~/.zshrc

- shell:
    cmd: which fish
  register: fish
  changed_when: no

- name: Install oh-my-fish
  shell:
    chdir: ~/.oh-my-fish
    cmd: bin/install --offline --noninteractive -y
  args:
    executable: "{{ fish.stdout }}"
  changed_when: no

- name: Install omf plugins
  shell:
    cmd: omf install z fzf bass
  args:
    executable: "{{ fish.stdout }}"
  changed_when: no
