- name: Disable spctl master
  become: yes
  command:
    cmd: spctl --master-disable
  changed_when: no

- name: VSCode PressAndHold
  shell:
    cmd: defaults write -g ApplePressAndHoldEnabled -bool false
  changed_when: no

- name: Add fish into standard shell
  become: yes
  lineinfile:
    path: /etc/shells
    line: /usr/local/bin/fish
    regexp: '\/usr\/local\/bin\/fish'
    state: present

- name: Add zsh into standard shell
  become: yes
  lineinfile:
    path: /etc/shells
    line: /usr/local/bin/zsh
    regexp: '\/usr\/local\/bin\/zsh'
    state: present

- name: Change shell
  become: yes
  user:
    name: "{{ ansible_user }}"
    shell: /usr/local/bin/zsh

- name: Clone oh-my-zsh
  git:
    repo: https://github.com/ohmyzsh/ohmyzsh.git
    dest: ~/.oh-my-zsh

- name: Clone oh-my-fish
  git:
    repo: https://github.com/oh-my-fish/oh-my-fish.git
    dest: ~/.oh-my-fish

- name: Make sure ~/.vim folder is there
  file:
    state: directory
    path: ~/.vim

- name: Make sure ~/.config folder is there
  file:
    state: directory
    path: ~/.config

- name: Make sure ~/.config/nvim folder is there
  file:
    state: directory
    path: ~/.config/nvim

- name: Link dotfiles into place
  file:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
    force: yes
  with_items: "{{ templates }}"

