ansible_connection: local
ansible_user: shikun

taps:
  - homebrew/cask-fonts

casks:
  - 1password
  - alacritty
  - android-studio
  - baidunetdisk
  - balenaetcher
  - clashx
  - dingtalk
  - discord
  - docker
  - dozer
  - drawio
  - emacs-mac
  - firefox
  - flutter
  - font-cascadia-mono
  - font-fira-code
  - font-roboto-mono-for-powerline
  - font-roboto-mono-nerd-font
  - font-source-code-pro
  - font-ubuntu-mono
  - github
  - hyper
  - iina
  - iterm2
  - kitty
  - lens
  - macvim
  - neteasemusic
  - notion
  - nrlquaker-winbox
  - obs
  - paper
  - postman
  - qqmusic
  - squidman
  - sublime-text
  - telegram
  - the-unarchiver
  - thunder
  - thunderbird
  - v2rayu
  - vagrant
  - virtualbox
  - visual-studio-code
  - wechat
  - wireshark
  - youdaodict
  - zerotier-one

packages:
  - ack
  - ansible-lint
  - arping
  - bat
  - cloudflare/cloudflare/cloudflared
  - cocoapods
  - cowsay
  - deno
  - editorconfig
  - fd
  - figlet
  - fish
  - fzf
  - git
  - git-delta
  - github/gh/gh
  - go
  - htop
  - ipcalc
  - iperf
  - iperf3
  - java
  - jq
  - krew
  - kubectl
  - lazygit
  - links
  - lynx
  - minikube
  - mysql
  - neofetch
  - neovim
  - nmap
  - nvm
  - openssh
  - openssl
  - pulumi
  - ranger
  - readline
  - redis
  - ripgrep
  - rustup
  - sqlite
  - ssh-copy-id
  - stow
  - svn
  - terraform
  - terraform-ls
  - tmate
  - tmux
  - vault
  - vim
  - wget
  - yq
  - zinit
  - zsh

dotfiles_base_path: "{{ playbook_dir }}/stuff/dotfiles"

templates:
  - src: "{{ dotfiles_base_path }}/.gitconfig"
    dest: ~/.gitconfig

  - src: "{{ dotfiles_base_path }}/.profile"
    dest: ~/.profile

  - src: "{{ dotfiles_base_path }}/.profile"
    dest: ~/.bashrc

  - src: "{{ dotfiles_base_path }}/.profile"
    dest: ~/.zshrc

  - src: "{{ dotfiles_base_path }}/.p10k.zsh"
    dest: ~/.p10k.zsh

  - src: "{{ dotfiles_base_path }}/omf"
    dest: "~/.config/omf"

  - src: "{{ dotfiles_base_path }}/config.fish"
    dest: ~/.config/fish/config.fish

  - src: "{{ dotfiles_base_path }}/.tmux.conf"
    dest: ~/.tmux.conf

  - src: "{{ dotfiles_base_path }}/.vimrc"
    dest: ~/.vimrc

  - src: "{{ dotfiles_base_path }}/init.vim"
    dest: ~/.config/nvim/init.vim

