ansible_connection: local
ansible_user: shikun

node_pacakges:
  - "@angular/cli"
  - "@volar/server"
  - ansible-language-server
  - bash-language-server
  - create-react-app
  - create-vite
  - diagnostic-languageserver
  - dockerfile-language-server-nodejs
  - eslint
  - graphql-language-service-cli
  - lerna
  - neovim
  - nodemon
  - prettier
  - pyright
  - semantic-release
  - serve
  - typescript
  - typescript-language-server
  - vscode-langservers-extracted
  - yaml-language-server

taps:
  - homebrew/cask-fonts

casks:
  - 1password
  - alacritty
  - android-studio
  - baidunetdisk
  - balenaetcher
  - brave-browser
  - clashx
  - cmake
  - dingtalk
  - discord
  - docker
  - dozer
  - drawio
  - emacs
  - firefox
  - flutter
  - font-cascadia-mono
  - font-fira-code
  - font-roboto-mono-for-powerline
  - font-roboto-mono-nerd-font
  - font-source-code-pro
  - font-ubuntu-mono
  - font-ubuntu-mono-nerd-font
  - github
  - hyper
  - iina
  - iterm2
  - keycastr
  - kitty
  - lens
  - neteasemusic
  - notion
  - nrlquaker-winbox
  - obs
  - paper
  - postman
  - qqmusic
  - squidman
  - sublime-text
  - telegram
  - the-unarchiver
  - thunder
  - thunderbird
  - v2rayu
  - vagrant
  - virtualbox
  - visual-studio-code
  - wechat
  - wireshark
  - youdaodict
  - zerotier-one

packages:
  - ack
  - ansible-lint
  - arping
  - bat
  - cloudflare/cloudflare/cloudflared
  - cocoapods
  - cowsay
  - deno
  - editorconfig
  - exa
  - fd
  - figlet
  - fzf
  - git
  - git-delta
  - git-flow
  - github/gh/gh
  - go
  - htop
  - ipcalc
  - iperf3
  - java
  - jq
  - k3sup
  - krew
  - kubectl
  - lazydocker
  - lazygit
  - links
  - lolcat
  - luajit
  - lynx
  - minikube
  - mysql
  - neofetch
  - neovim
  - nmap
  - nvm
  - openssh
  - openssl
  - pulumi
  - pyenv
  - ranger
  - readline
  - redis
  - ripgrep
  - rust-analyzer
  - rustup
  - shfmt
  - sqlite
  - ssh-copy-id
  - stow
  - svn
  - terraform
  - terraform-ls
  - the_silver_searcher
  - tldr
  - tmate
  - tmux
  - tree-sitter
  - vault
  - vim
  - wget
  - yq
  - zinit
  - zsh

dotfiles_base_path: "{{ playbook_dir }}/stuff/dotfiles"

templates:
  - src: "{{ dotfiles_base_path }}/.gitconfig"
    dest: ~/.gitconfig

  - src: "{{ dotfiles_base_path }}/.profile"
    dest: ~/.profile

  - src: "{{ dotfiles_base_path }}/.bashrc"
    dest: ~/.bashrc

  - src: "{{ dotfiles_base_path }}/.zshrc"
    dest: ~/.zshrc

  - src: "{{ dotfiles_base_path }}/.p10k.zsh"
    dest: ~/.p10k.zsh

  - src: "{{ dotfiles_base_path }}/kitty"
    dest: ~/.config/kitty

  - src: "{{ dotfiles_base_path }}/.tmux.conf"
    dest: ~/.tmux.conf

  - src: "{{ dotfiles_base_path }}/nvim"
    dest: ~/.config/nvim
