ansible_sudo_pass: "{{ vault_ansible_sudo_pass }}"

ansible_connection: local

casks:
  - homebrew/cask-fonts
  - d12frosted/emacs-plus

packages:
  - yarn
  - fzf
  - go
  - git
  - tmux
  - neovim
  - rustup
  - openssh
  - openssl
  - emacs-plus
  - htop
  - ansible-lint
  - vim
  - editorconfig
  - zsh
  - svn
  - github/gh/gh
  - nmap
  - nvm
  - ssh-copy-id
  - pv
  - wget
  - readline
  - iperf
  - sqlite
  - cowsay
  - cocoapods
  - asimov

cask_packages:
  - soundflower
  - virtualbox
  - 1password
  - font-ubuntu-mono
  - font-fira-code
  - font-source-code-pro
  - visual-studio-code
  - iterm2
  - postman
  - tower
  - firefox
  - dingtalk
  - wechat
  - thunder
  - v2rayu
  - squidman
  - notion
  - qqmusic
  - docker
  - dozer
  - pock
  - telegram
  - qq
  - balenaetcher
  - hyper
  - aliwangwang
  - baidunetdisk
  - google-chrome
  - the-unarchiver
  - obs
  - iina
  - sublime-text
  - vagrant
  - java
  - neteasemusic
  - wireshark
  - android-studio
  - alt-tab
  - github
  - sourcetree
  - drawio
  - paper

omf_packages:
  - z
  - bass
  - nvm
  - fzf

nvm_version: HEAD

node_version: 12.0.0

yarn_packages:
  - prettier
  - eslint
  - nodemon
  - serve
  - pm2
  - typescript
  - semantic-release
  - create-react-app

dotfiles_base_path: "{{ playbook_dir }}/stuff/dotfiles"

templates:
  - src: "{{ dotfiles_base_path }}/.gitconfig"
    dest: ~/.gitconfig

  - src: "{{ dotfiles_base_path }}/.profile"
    dest: ~/.profile

  - src: "{{ dotfiles_base_path }}/config.fish"
    dest: ~/.config/fish/config.fish

  - src: "{{ dotfiles_base_path }}/.tmux.conf.local"
    dest: ~/.tmux.conf.local

  - src: "{{ dotfiles_base_path }}/.zshrc"
    dest: ~/.zshrc

  - src: "{{ dotfiles_base_path }}/.vimrc"
    dest: ~/.vimrc

  - src: "{{ dotfiles_base_path }}/init.vim"
    dest: ~/.config/nvim/init.vim

  - src: "{{ dotfiles_base_path }}/.spacemacs"
    dest: ~/.spacemacs
