- name: Homebrew tap
  homebrew_tap:
    name: d12frosted/emacs-plus

- name: Update homebrew
  homebrew:
    update_homebrew: yes
    upgrade_all: yes

- name: Update homebrew casks
  homebrew_cask:
    update_homebrew: yes
    upgrade_all: yes

- name: Install list of packages
  homebrew:
    name: "{{ packages }}"
    state: latest

- name: Install list of casks
  homebrew_cask:
    name: "{{ item }}"
    state: latest
  with_items: "{{ cask_packages }}"

- name: Install list of yarn pkg global
  yarn:
    name: "{{ item }}"
    state: latest
    global: yes
  with_items: "{{ yarn_packages }}"
  changed_when: no
