- name: Homebrew tap
  homebrew_tap:
    name: "{{ item }}"
  with_items: "{{ taps }}"

- name: Update homebrew
  homebrew:
    update_homebrew: yes
    upgrade_all: yes
  changed_when: no

- name: Install list of homebrew packages
  homebrew:
    name: "{{ packages }}"
    state: latest

- name: Install list of homebrew casks
  homebrew_cask:
    name: "{{ casks }}"
